<div class="flex justify-center text-justify">

  <div class="bg-zinc-700 w-1/4 m-3 text-white">
    <h2 class="text-4xl m-4">Login</h2>

    <form class="form login-form flex flex-col">
      <div class="form-group m-2">
        <label for="email-login">Email:</label>
        <input class="form-input border border-black text-black" type="text" id="email-login" />
      </div>
      <div class="form-group m-2">
        <label for="password-login">Password:</label>
        <input class="form-input border border-black text-black" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary border border-black bg-slate-500 text-white ml-3 p-3 text-xl hover:bg-slate-800 hover:text-3xl" type="submit">Login</button>
      </div>
    </form>
  </div>

  <div class="w-1/4 m-3 bg-zinc-500">
    <h2 class="m-4 text-4xl">Signup</h2>
    <form class="form signup-form flex flex-col">
      <div class="form-group m-2">
        <label for="name-signup">Name:</label>
        <input class="form-input border border-black text-black" type="text" id="name-signup" />
      </div>
      <div class="form-group m-2">
        <label for="email-signup">Email:</label>
        <input class="form-input border border-black text-black" type="text" id="email-signup" />
      </div>
      <div class="form-group m-2">
        <label for="password-signup">Password:</label>
        <input class="form-input border border-black text-black" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary border border-black bg-slate-500 text-white ml-3 p-3 text-xl hover:bg-slate-800 hover:text-3xl" type="submit">signup</button>
      </div>
    </form>
  </div>

</div>

<script src="./js/login.js"></script>